// Primary colors
$model-black: #0b101c;
$primary-color: #8a2be2;
$accent-color: #e6e6fa;
$pop-of-coral: #ffc1ac;
$reno-red: #ff444e;

// Fonts
$font-grey: #6c6c6c;

// other
$focus-input: forestgreen;
// Secondary colors
$light-blue: #dee9ff;
$light-grey: #f7f7f7;

$primary-font: 'Lato';
$border-radius: 6px;
$border: 1px $model-black solid;

// Queries
$tablet: 767px;
$desktop: 1080px;
$monitor: 1300px;
