@use '../../../../partials/variables' as *;

.input {
	padding: 5px 0;
	width: 100%;
}

.input input::-webkit-file-upload-button {
	background: $primary-color;
	border: none;
	outline: none;
	color: #fff;
	padding: 5px;
	border-radius: 5px;
}
